<ul class="list-group" *ngIf="house">
  <li class="list-group-item">
    Name: {{ house.name }}
  </li>
  <li class="list-group-item">
    Region: {{ house.region }}
  </li>
  <li class="list-group-item">
    Coat of arms: {{ house.coatOfArms }}
  </li>
  <li class="list-group-item">
    Words: {{ house.words }}
  </li>
  <li class="list-group-item">
    Titles: {{ house.titles }}
  </li>
  <li class="list-group-item">
    Seats: {{ house.seats }}
  </li>
  <li class="list-group-item">
    Current lord:
    <a *ngIf="currentLord" [routerLink]="['/character/' + idService.getCharacterId(house.currentLord)]" class="btn btn-outline-secondary">
      {{ currentLord.name }}
    </a>
  </li>
  <li class="list-group-item">
    Heir:
    <a *ngIf="heir" [routerLink]="['/character/' + idService.getCharacterId(house.heir)]" class="btn btn-outline-secondary">
      {{ heir.name }}
    </a>
  </li>
  <li class="list-group-item">
    Overlord:
    <a *ngIf="overlord" [routerLink]="['/house/' + idService.getHouseId(house.overlord)]" class="btn btn-outline-secondary">
      {{ overlord.name }}
    </a>
  </li>
  <li class="list-group-item">
    Founded: {{ house.founded }}
  </li>
  <li class="list-group-item">
    Founder:
    <a *ngIf="founder" [routerLink]="['/character/' + idService.getCharacterId(house.founder)]" class="btn btn-outline-secondary">
      {{ founder.name }}
    </a>
  </li>
  <li class="list-group-item">
    Died out: {{ house.diedOut }}
  </li>
  <li class="list-group-item">
    Ancestral weapons: {{ house.ancestralWeapons }}
  </li>
  <li class="list-group-item">
    Cadet branches:
    <a *ngFor="let branch of cadetBranches" [routerLink]="['/house/' + idService.getHouseId(branch.url)]" class="btn btn-outline-secondary">
      {{ branch.name }}
    </a>
  </li>
  <li class="list-group-item">
    Sworn members:
    <a *ngFor="let member of swornMembers" [routerLink]="['/character/' + idService.getCharacterId(member.url)]" class="btn btn-outline-secondary">
      <p *ngIf="member.name == ''">
        "anonym"
      </p>
      <p *ngIf="member.name != ''">
        {{ member.name }}
      </p>
    </a>
  </li>
</ul>
