<div class="card-deck" *ngFor="let book of books" [ngStyle]="{ display: 'inline-block', margin: '2em' }">
  <div class="card" style="width: 35rem;">
    <div class="card-body">
      <h5 class="card-title">{{ book.name }}</h5>
      <p class="card-text">
        Released: {{ book.released | date:'mediumDate' }}
      </p>
      <p class="card-text">
        Pages: {{ book.numberOfPages }}
      </p>
      <a [routerLink]="['/book/' + idService.getBookId(book.url)]" class="btn btn-outline-secondary">Details</a>
    </div>
  </div>
</div>
<div [ngStyle]="{ display: 'flex', justifyContent: 'space-between' }">
  <button class="btn btn-dark" (click)="prevPage()" [ngStyle]="{ margin: '1em' }" [disabled]="page === 1">
    &laquo; {{ page-1 }} Previous
  </button>
  <button class="btn btn-dark" [ngStyle]="{ margin: '1em' }" [disabled]="page >= 0">
    Page: {{ page }} / {{lastPage}}
  </button>
  <button class="btn btn-dark" (click)="nextPage()" [ngStyle]="{ margin: '1em' }" [disabled]="page === lastPage">
    Next {{ page+1 }} &raquo;
  </button>
</div>
