<div class="list-group" *ngIf="book">
  <li class="list-group-item">
    Name: {{ book.name }}
  </li>
  <li class="list-group-item">
    ISBN: {{ book.isbn }}
  </li>
  <li class="list-group-item">
    Authors: {{ book.authors }}
  </li>
  <li class="list-group-item">
    Number of pages: {{ book.numberOfPages }}
  </li>
  <li class="list-group-item">
    Publisher: {{ book.publiser }}
  </li>
  <li class="list-group-item">
    Country: {{ book.country }}
  </li>
  <li class="list-group-item">
    Media type: {{ book.mediaType }}
  </li>
  <li class="list-group-item">
    Released: {{ book.released | date:'mediumDate' }}
  </li>
  <li class="list-group-item">
    Characters:
    <a *ngFor="let character of characters" [routerLink]="['/character/' + idService.getId(character.url)]" class="btn btn-outline-secondary">
      <p *ngIf="character.name == ''">
        "anonym"
      </p>
      <p *ngIf="character.name != ''">
        {{ character.name }}
      </p>
    </a>
  </li>
  <li class="list-group-item">
    POV characters:
    <a *ngFor="let character of povCharacters" [routerLink]="['/character/' + idService.getId(character.url)]" class="btn btn-outline-secondary">
      {{ character.name }}
    </a>
  </li>
</div>
